* {
    font-size: 1.5rem;
}

body {
    background-color: #333;
    color: #fff;
}

ul {
    display: flex;
    flex-flow: column;
    justify-content: left;
    padding: 25px;
    margin: 0;
    list-style-type: none;
    align-items: center;
}

div.tabuleiro {
    outline: black solid 1px;
    width: 450px;
    height: 450px;
}

div.global-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 540px;
    padding: 20px;
}

.coluna {
    border: solid black 1px;
    padding: 18px;
    margin: 1px;
}

div#mensagem {
    color: black;
    align-content: center;
    width: 200px;
}